[class^=col] {
    background-color: rgba(0,108,250,255);
    border: 2px solid white;
    height: 40px;
}

.div-green {
    background-color: rgba(0,225,101,255);
    border: 2px solid rgba(0,108,250,255);
}

.h-fixed {
    height: 80px;
}

/* BONUS */
.alignment {
    padding: 1rem;
}

.row-bonus {
    display: flex;
    flex-wrap: wrap;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.middle {
    display: flex;
    align-items: center;
}

.bottom {
    display: flex;
    align-items: flex-end;
}